# Composer'ın indirdiği dev kütüphane klasörü (başkası composer install ile çeker)
/vendor/

# İşletim sistemi çöpleri
.DS_Store
Thumbs.db

# XAMPP veya IDE ayarları (isteğe bağlı)
.vscode/
.idea/
*.log
